/* #heading{
    color: blue;
    background-color: yellow;
}
#heading2{
    color: blue;
    background-color: rgb(255, 115, 0);
} */

.heading{
    color: blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: blue;
    color: white;
}
